@use "../base/variables" as variable;
@use "../base/mixins" as mixins;

/* header 스타일 적용 */
header {
  width: 100%;
  height: 64px;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 100;
  mix-blend-mode: difference;
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: variable.$color-white;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
  }
  nav {
    height: 128px;
    @include mixins.flex-end;
    flex-direction: column;
    backdrop-filter: blur(10px);
    position: relative;
    .header_fixed {
      /* 공통 - 포트폴리오 햄버거 버튼 */
      width: 56px;
      height: 56px;
      position: absolute;
      top: calc((64px - 56px) / 2);
      right: 32px;
      @media (max-width: 1024px) {
        right: 24px;
        width: 52px;
        height: 52px;
        top: calc((64px - 52px) / 2);
      }
      @media (max-width: 768px) {
        right: 16px;
        width: 48px;
        height: 48px;
        top: calc((64px - 48px) / 2);
      }

      @media (max-width: 480px) {
        right: 12px;
      }
      a {
        width: 100%;
        height: 100%;
        @include mixins.flex-center;
        background-color: variable.$color-white;
      }
    }
    #nav_default {
      width: 100%;
      height: 64px;
      @include mixins.flex-space;
      transition: transform 1s ease-in-out;
      transform: translateY(0%);
    }
    #nav_scroll {
      width: 100%;
      height: 64px;
      @include mixins.flex-end;
      z-index: 3;
      transition: transform 1s ease-in-out;
      transform: translateY(0%);
      ul {
        width: 50%;
        height: 100%;
        @include mixins.flex-space;
        @media (max-width: 1024px) {
          width: 80%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        li {
          a {
            position: relative;
            padding: 0 4px;
            opacity: 0.5;
            &.active {
              opacity: 1;
              &::after {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: variable.$primary-color;
                position: absolute;
                top: 0;
                right: -8px;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
}
