/* 색상 */
$primary-color: #45ef55;
$secondary-color: #48edd1;
$color-white: #f5f5f5;
$color-bg-black: #000;
$color-gray: #d9d9d9;
$color-black: #333;

/* 폰트 */
$font-primary: "Pretendard Local", "Pretendard Variable", sans-serif;
$font-secondary: "Lexend", sans-serif;
$font-tertiary: "LexendExa", sans-serif;

$font-weight-black: 900; // 가장 두꺼움
$font-weight-extrabold: 800; // ExtraBold
$font-weight-bold: 700; // Bold
$font-weight-semibold: 600; // SemiBold
$font-weight-medium: 500; // Medium
$font-weight-regular: 400; // Regular (Normal)
